# **Projeto 3 - Ciência dos dados**
______

## Análise dos Airbnb nas maiores cidades americanas

**Integrantes:** Bruno Kaczelnik, Guilherme Lotaif, Renato Tajima e Thiago Verardo.

**Fonte do dataset:** www.kaggle.com/rudymizrahi/airbnb-listings-in-major-us-cities-deloitte-ml

### Objetivo:
___

In [1]:
#Importando bibliotecas:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import norm,probplot
plt.style.use('ggplot')

from sklearn.model_selection import train_test_split

___
### Importando o dataset:

In [2]:
#Importado o arquivo:
df = pd.read_csv('airbnb-listings-in-major-us-cities-deloitte-ml/train.csv')

In [3]:
#Análisando o tamanho do dataframe:
linhas, colunas = df.shape
print("O Dataframe possui {0} linhas por {1} colunas.".format(linhas, colunas))

O Dataframe possui 74111 linhas por 29 colunas.

#### Limpando o dataframe para ser análisado:
Esta etapa consiste em uma preparação do dataframe para facilitar a análise no mesmo, e evitar a ocorrência de complicações ou erros que atrapalhem nossso classificador. Portanto iremos limpar os titulos de cada coluna e remover os valores nulos de cada categoria

In [4]:
#Removendo os espaços em branco dos nomes das colunas:
df.columns = [espaços.strip() for espaços in df.columns.tolist()]

In [9]:
#Apagando valores nulos que podem causar problemas posteriores:
df = df.dropna(axis=0, subset=['bathrooms','first_review','host_has_profile_pic','host_identity_verified',
                               'host_response_rate','host_since','last_review','neighbourhood','review_scores_rating',
                               'thumbnail_url','thumbnail_url','zipcode','bedrooms','beds'])

In [10]:
df.sample(2)

,id,log_price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,...,latitude,longitude,name,neighbourhood,number_of_reviews,review_scores_rating,thumbnail_url,zipcode,bedrooms,beds
66865,4476115,4.382027,Apartment,Private room,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",1,1.0,Real Bed,strict,False,...,40.711658,-73.997198,Sunny room - Prime Location,Chinatown,1,100.0,https://a0.muscache.com/im/pictures/ba7328ac-a...,10038,1.0,1.0
54713,6743603,3.891820,Apartment,Private room,"{TV,""Wireless Internet"",""Air conditioning"",Kit...",2,1.0,Real Bed,strict,True,...,40.702343,-73.908153,Gorgeous bedroom in the Heart of Bushwick!,Ridgewood,4,90.0,https://a0.muscache.com/im/pictures/9bba3c49-d...,11385,1.0,1.0

#### Transformando categorias qualiativas em quantiativas:

O método usado para efetuar essa conversão é chamado de **One Hot Encoding**, que transforma variaveis categóricas em vetores binarios. Tal método transforma todas as variaveis em 0 menos a do item analisado, desse modo permitindo que sejam feitam análises em cima desse dados.

In [19]:
#Função para chamar o get_dummies e remover a coluna base:
def dummify(data, column_name):
    df1 = data.copy()
    df2 = pd.concat([df1.drop(column_name, axis=1), pd.get_dummies(data[column_name], prefix=column_name)], axis=1)
    return df2